# Logs
npm-debug.log*
# Coverage directory used by tools like istanbul
coverage/
# IDE
.idea
# Compiled binary addons (http://nodejs.org/api/addons.html)
.sass-cache/
.tmp/
dist/
# Dependency directory
node_modules/
vendor/
# Mac OS X files
**/.DS_Store
