<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">CFP.<em>io</em> - Awesome<em>Conf</em>'16</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div ui-view="top-menu"></div>
    </div>
  </div>
</nav>

<div class="container">
  <ui-view></ui-view>
</div>

<footer class="footer">
  <div class="container">
    <p class="pull-right">
      cfp.io Copyright<sup>&copy;</sup> BreizhCamp -
      <a href="https://github.com/cfpio/callForPapers/issues">
        <i class="fa fa-bug"></i>
        <span translate>FOOTER.BUGREPORT</span>
      </a>
    </p>
  </div>
</footer>
