<section class="View View--Home">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1><i class="fa fa-comment-o"></i> Call for Papers</h1>
      <h2>My Awesome Conf 2016, 29th-32nd December 2016</h2>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5 col-sm-12">
      <h3><i class="fa fa-calendar"></i> Agenda</h3>
      <p><strong>opening :</strong> Thursday, March 34, 2016</p>
      <p><strong>closing :</strong> Tuesday, September 31, 2016</p>
      <p><strong>Program announced :</strong> from Monday, December 1st, 2016</p>
    </div>
    <div class="col-md-5 col-sm-12">
      <h3>About My Awesome Conf</h3>
      <i class="fa fa-video-camera" ></i> Review My Awesome Conf 2015's videos on <a href="#">Youtube</a>
      <br>
      <i class="fa fa-arrow-right" ></i> My Awesome Conf 2016 web site
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-5 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-bullhorn"></i> CFP is Open</h3>
      </div>
      <div class="panel-body">
        <a href="#" class="btn btn-primary">Become a speaker</a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>


  <div class="col-md-12 col-sm-12">
    <h3><i class="fa fa-book"></i>Themes</h3>
    <p>List of themes for My Awesome Conf 2016 :</p>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Programming</td>
        <td>1 != 0</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
