<section class="View View--Home">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1><i class="fa fa-comment-o"></i> Call for Papers</h1>
      <h2>{{$ctrl.config.eventName}}, {{$ctrl.config.date}}</h2>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5 col-sm-12">
      <h3><i class="fa fa-calendar"></i> Agenda</h3>
      <p><strong>opening :</strong> TODO</p>
      <p><strong>closing :</strong> {{$ctrl.config.decisionDate}}</p>
      <p><strong>Program announced :</strong> {{$ctrl.config.releaseDate}}</p>
    </div>
    <div class="col-md-5 col-sm-12">
      <h3>About {{$ctrl.config.eventName}}</h3>
      <i class="fa fa-video-camera"></i> Review {{$ctrl.config.eventName}} videos on <a href="#">Youtube</a>
      <br>
      <i class="fa fa-arrow-right"></i> {{$ctrl.config.eventName}} web site
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-5 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-bullhorn"></i> CFP is {{$ctrl.config.open ? 'Open' : 'Closed'}}</h3>
      </div>
      <div class="panel-body">
        <a href="#" class="btn btn-primary">Become a speaker</a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>


  <div class="col-md-12 col-sm-12">
    <h3><i class="fa fa-book"></i>Themes</h3>
    <p>List of themes for My Awesome Conf 2016 :</p>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Programming</td>
        <td>1 != 0</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
