/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../vendor/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../vendor/font-awesome/fonts";

/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

.navbar-default {
  color: #fff;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  & > a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
        padding: 15px;
        line-height: 20px;
      }
      a:hover {
        background-color: darkorange;
      }
      &.active a {
        background-color: black;
      }
    }
  }
}

.navbar-brand {
  color: white;

  em {
    color: darkorange;
    font-style: normal;
  }
}

.jumbotron {
  padding: 60px;
  margin-bottom: 30px;
  background-color: gainsboro;
  border-radius: 6px;
  text-align: center;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}

.pull-right {
  float: right;
}

hr {
  clear: both;
}

label.required:after {
  content: ' *'
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
