$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/scss/font-awesome.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

label.required:after {
  content: ' *'
}

textarea {
  &.constrained-width {
    resize: vertical;
  }
}
