<form class="Form Form--Login" novalidate role="form" name="form" autocomplete="off" ng-submit="$ctrl.onSubmit($event)">
  <div class="input-group">
    <label for="cfp-login-email" class="input-group-addon">{{'login.email' | translate}}</label>
    <input id="cfp-login-email" type="text" class="form-control" placeholder="{{'login.email' | translate}}" ng-model="$ctrl.credentials.email" required autofocus>
  </div>
  <div class="input-group">
    <label for="cfp-login-password" class="input-group-addon">{{'login.password' | translate}}</label>
    <input for="cfp-login-password" type="password" class="form-control" placeholder="{{'login.password' | translate}}" ng-model="$ctrl.credentials.password" required>
  </div>
  <button class="btn btn-lg btn-primary pull-right animate" type="submit">{{'login.login' | translate}}</button>
</form>
