<form class="Form Form--Profile container-fluid" novalidate role="form" name="$ctrl.form" autocomplete="off">
  <div class="row">
    <div class="col-xs-12">
      <h2 translate>profile.title</h2>
    </div>
  </div>

  <div class="row">
    <!-- Last name -->
    <div class="form-group col-sm-6" show-errors>
      <label class="control-label required" for="lastname">{{'profile.lastname' | translate}}</label>
      <input type="text" id="lastname" name="lastname" class="form-control" placeholder="{{'profile.lastname' | translate}}"
             ng-model="$ctrl.model.lastname" required>
      <p ng-messages="$ctrl.form.lastname.$error" class="help-block">
        <span ng-message="required" translate>form.errors.required</span>
      </p>
    </div>

    <!-- First name -->
    <div class="form-group col-sm-6" show-errors>
      <label class="control-label required" for="firstname">{{'profile.firstname' | translate}}</label>
      <input type="text" id="firstname" name="firstname" class="form-control" placeholder="{{'profile.firstname' | translate}}"
             ng-model="$ctrl.model.firstname" required>
      <p ng-messages="$ctrl.form.firstname.$error" class="help-block">
        <span ng-message="required" translate>form.errors.required</span>
      </p>
    </div>

    <!-- Gender -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="gender">{{'profile.gender' | translate}}</label>
      <select id="gender" name="gender" class="form-control" ng-model="$ctrl.model.gender">
        <option value=""></option>
        <option value="MALE" translate>profile.genderMale</option>
        <option value="FEMALE" translate>profile.genderFemale</option>
      </select>
    </div>

    <!-- Language -->
    <div class="form-group col-sm-6" show-errors>
      <label class="control-label required" for="language">{{'profile.language' | translate}}</label>
      <select id="language" name="language" class="form-control"
              ng-model="$ctrl.model.language">
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>
      <p ng-messages="$ctrl.form.language.$error" class="help-block">
        <span ng-message="required" translate>form.errors.required</span>
      </p>
    </div>

    <!-- Phone -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="phone">{{'profile.phone' | translate}}</label>
      <input-tel fid="phone" name="phone" ng-model="$ctrl.model.phone"></input-tel>
    </div>

    <!-- Company -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="company">{{'profile.company' | translate}}</label>
      <input type="text" id="company" name="company" class="form-control" placeholder="{{'profile.company' | translate}}"
             ng-model="$ctrl.model.company">
    </div>

  </div>

  <div class="row">
    <!-- Bio -->
    <div class="form-group col-sm-12 col-md-6">
      <label class="control-label required" for="bio">{{'profile.bio' | translate}}</label>
      <textarea id="bio" name="bio" class="form-control" rows="10"
                ng-model="$ctrl.model.bio" required>
      </textarea>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label class="control-label" for="bio">{{'profile.bioPreview' | translate}}</label>
      <div class="form-control bio-preview" marked="$ctrl.model.bio"></div>
    </div>
  </div>

  <div class="row">
    <!-- Twitter -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="twitter">{{'profile.twitter' | translate}}</label>
      <input type="text" id="twitter" name="twitter" class="form-control" placeholder="{{'profile.twitter' | translate}}"
             ng-model="$ctrl.model.twitter">
    </div>

    <!-- Google + -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="googleplus">{{'profile.googleplus' | translate}}</label>
      <input type="text" id="googleplus" name="googleplus" class="form-control" placeholder="{{'profile.googleplus' | translate}}"
             ng-model="$ctrl.model.googleplus">
    </div>

    <!-- Github -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="github">{{'profile.github' | translate}}</label>
      <input type="text" id="github" name="github" class="form-control" placeholder="{{'profile.github' | translate}}"
             ng-model="$ctrl.model.github">
    </div>

    <!-- Social -->
    <div class="form-group col-sm-6">
      <label class="control-label" for="social">{{'profile.social' | translate}}</label>
      <input type="text" id="social" name="social" class="form-control" placeholder="{{'profile.social' | translate}}"
             ng-model="$ctrl.model.social">
    </div>

    <!-- T-shirt size -->
    <div class="form-group col-sm-6" show-errors>
      <label class="control-label required" for="tshirtSize">{{'profile.tshirtSize' | translate}}</label>
      <select id="tshirtSize" name="tshirtSize" class="form-control"
              ng-model="$ctrl.model.tshirtSize">
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
      <p ng-messages="$ctrl.form.tshirtSize.$error" class="help-block">
        <span ng-message="required" translate>form.errors.required</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 buttons">
      <button class="btn btn-default" type="button" ng-click="$ctrl.onCancel()"
              ng-disabled="$ctrl.form.$pristine">
        {{'profile.cancel' | translate}}
      </button>
      <button class="btn btn-primary" type="submit" ng-click="$ctrl.onSubmit()"
              ng-disabled="$ctrl.form.$pristine || $ctrl.form.$invalid">
        {{'profile.save' | translate}}
      </button>
    </div>
  </div>
</form>
