<div class="jumbotron">
  <h1 ng-bind="::$ctrl.event.eventName"></h1>
  <h2 translate>HOME.TITLE</h2>
  <p translate="HOME.DATES"
     translate-values="{closingDate: ($ctrl.event.releaseDate | date:'longDate'),programDate: ($ctrl.event.decisionDate | date:'longDate')}"></p>
  <a class="btn btn-primary btn-lg" ui-sref="proposal.new" translate>HOME.NEW_PROPOSAL</a>
</div>

<div class="col-sm-12">
  <h3>
    <i class="fa fa-book"></i>
    <span translate>HOME.TRACKS.TITLE</span>
  </h3>
  <p translate>HOME.TRACKS.HELP</p>
  <dl class="dl-horizontal large-dt">
    <dt ng-repeat-start="track in ::$ctrl.tracks" ng-bind="::track.libelle"></dt>
    <dd ng-repeat-end ng-bind="::track.description"></dd>
  </dl>
</div>
