<ul class="nav navbar-nav navbar-right">
  <li class="page-scroll">
    <a href="#portfolio"><i class="fa fa-list-alt"></i> DashBoard</a>
  </li>
  <li class="page-scroll">
    <a href="#about"><i class="fa fa-user"></i> Profile</a>
  </li>
  <li class="page-scroll">
    <a href="#contact"><i class="fa fa-signal"></i> Review</a>
  </li>
  <li class="page-scroll">
    <a href="#contact"><i class="fa fa-th"></i> Schedule</a>
  </li>
  <li class="page-scroll">
    <a href="#contact"><i class="fa fa-cog"></i> Configure</a>
  </li>
  <li class="page-scroll" ng-hide="app.user == null" class="ng-hide">
    <a href="#contact"><img ng-src="https://avatars.io/gravatar/{{app.user.email}}" width="48" height="48"> Me</a>
  </li>
  <li class="page-scroll" ng-hide="app.user == null" class="ng-hide">
    <a href="https://auth.cfp.io/logout">Logout</a>
  </li>
</ul>
