<ul class="nav navbar-nav navbar-right">
  <li class="page-scroll">
    <a ui-sref="welcome"><i class="fa fa-list-alt"></i> {{ 'header.dashboard' | translate }}</a>
  </li>
  <li class="page-scroll">
    <a ui-sref="welcome"><i class="fa fa-signal"></i> {{ 'header.review' | translate }}</a>
  </li>
  <li class="page-scroll">
    <a ui-sref="welcome"><i class="fa fa-th"></i> {{ 'header.schedule' | translate }}</a>
  </li>
  <li class="page-scroll">
    <a ui-sref="welcome"><i class="fa fa-cog"></i> {{ 'header.configure' | translate }}</a>
  </li>
  <li class="page-scroll" ng-if="!!$ctrl.user">
    <a ui-sref="profile">
      <img ng-src="https://avatars.io/gravatar/{{$ctrl.user.email}}" width="48" height="48">
      {{ 'header.profile' | translate }}
    </a>
  </li>
  <li class="page-scroll" ng-if="!!$ctrl.user">
    <a ng-href="{{ $ctrl.authService.getLogoutUrl() }}" translate>header.logout</a>
  </li>
  <li class="page-scroll" ng-if="!$ctrl.user">
    <a ng-href="{{ $ctrl.authService.getLoginUrl() }}" translate>header.login</a>
  </li>
</ul>
